# This must be your local or Grafbase production API endpoint
# Click "Connect" inside your Grafbase Project Dashboard to get the URL
NEXT_PUBLIC_GRAFBASE_API_URL=http://localhost:4000/graphql

# The NEXTAUTH_SECRET must match that set inside the grafbase/.env. 
# You can generate one here: https://generate-secret.vercel.app
NEXTAUTH_SECRET=

# Create a new GitHub app in your account settings to obtain these values
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
